.figur{
    width: 100px;
     margin-top: 100px;
    margin-left: 600px;
}
figcaption{
    margin-left: 590px;
}
li
{
    height: 50px;
}
input{
    margin-left: 550px;
}
.plus{
    margin-left: 20px;
}
.deletebutton{
    margin-left: 600px;
}
ol{
    margin-left: 570px;
}
.deleteitem{
    margin-left: 20px;
}